
<div class="container">
    <div class="grid box">
        <div class="row">
            <div class="col box1">
              <h5 style="text-align: center;font-weight: bold;">My POWER BANKS</h5>
<div class="grid ">
    <div class="col ">
        <div class="row box1-sub-box1">
            <div class="box1-flex">
                <figure style="position: relative;">
                <img class="battery" src="assets/images/battery.png "alt="battery">
                <h5 style="font-size: 17px;width:45%;" class="centered">4 PB's 40 kw quantity</h5>
                <figcaption >My PB Wallet</figcaption>
                </figure>
                <table class="table power-bank-table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Cost</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Validity</th>
                        <th scope="col">EndDate</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1<img class="small-battery" style="transform: rotate(90deg);" src="assets/images/battery.png"alt="battery"></th>
                        <td>1$</td>
                        <td>10kw</td>
                        <td>30days</td>
                        <td>4th Aug 2022</td>
                      </tr>
                      <tr>
                        <th scope="row">2<img  class="small-battery" style="transform: rotate(90deg);" src="assets/images/battery.png "alt="battery"></th>
                        <td>1$</td>
                        <td>10kw</td>
                        <td>30days</td>
                        <td>4th Aug 2022</td>
                      </tr>
                      <tr>
                        <th scope="row">3<img class="small-battery" style="transform: rotate(90deg);" src="assets/images/battery.png "alt="battery"></th>
                        <td>1$</td>
                        <td>10kw</td>
                        <td>30days</td>
                        <td>4th Aug 2022</td>
                      </tr>
                      <tr>
                        <th scope="row">4<img class="small-battery" style="transform: rotate(90deg);" src="assets/images/battery.png "alt="battery"></th>
                        <td>1$</td>
                        <td>10kw</td>
                        <td>30days</td>
                        <td>4th Aug 2022</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <a href="#">Click Here for Purchased details</a>
        </div>
        <hr>
        <h5 style="text-align:center ;font-weight: bold;">MY USAGE LOGBOOK</h5>
        <div class="row box1-sub-box2"> 
        <table class="log-book">
              <tr style="background-color: black;color:#fff">
                <th scope="col">S No.</th>
                <th scope="col">Transaction Type</th>
                <th scope="col">Qty(MW)</th>
                <th scope="col">Application</th>
                <th scope="col">Date</th>
                <th scope="col">Transaction ID</th>
              </tr>
              <tr>
                <td >1</td>
                <td>Used</td>
                <td>0.02</td>
                <td>EV</td>
                <td>12th Jan 2022</td>
                <td>1001</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Used</td>
                <td>0.02</td>
                <td>EV</td>
                <td>12th Jan 2022</td>
                <td>1001</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Used</td>
                <td>0.02</td>
                <td>EV</td>
                <td>12th Jan 2022</td>
                <td>1001</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Used</td>
                <td>0.02</td>
                <td>EV</td>
                <td>12th Jan 2022</td>
                <td>1001</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Used</td>
                <td>0.02</td>
                <td>EV</td>
                <td>12th Jan 2022</td>
                <td>1001</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Used</td>
                <td>0.02</td>
                <td>EV</td>
                <td>12th Jan 2022</td>
                <td>1001</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Used</td>
                <td>0.02</td>
                <td>EV</td>
                <td>12th Jan 2022</td>
                <td>1001</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Used</td>
                <td>0.02</td>
                <td>EV</td>
                <td>12th Jan 2022</td>
                <td>1001</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Used</td>
                <td>0.02</td>
                <td>EV</td>
                <td>12th Jan 2022</td>
                <td>1001</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Used</td>
                <td>0.02</td>
                <td>EV</td>
                <td>12th Jan 2022</td>
                <td>1001</td>
              </tr>
           
          </table>
        </div>
    </div>
</div>
            </div>
            <div class="col box2">
                <div class="grid ">
                    <div class="col ">
                      <h5 style="text-align: center;font-weight: bold;">KNOW MY REQUIREMENT</h5>
                        <div class="row box2-sub-box1">
                            <i>Analyze your require by filling betails below</i>
                            <div class="grid">
                                <div class="col">
                                    <table style="border: none;">
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    <figure>
                                                        <img src="assets/images/EV.png" alt="EV">
                                                        <figcaption>MY EV</figcaption>
                                                    </figure>
                                                    </th>
                                                    <td>
                                                        <input type="number" placeholder="Enter value....100">
                                                    </td>
                                                    <td>
                                                        <select name="Miles">
                                                            <option value="Miles">Miles</option>
                                                            <option value=""></option>
                                                            <option value=""></option>
                                                            <option value=""></option>
                                                          </select>
                                                    </td>
                                            </tr>
                                            <i style="font-size: 12px;color: grey;">or/Both</i>
                                            <tr>
                                                <th scope="row">
                                                    <figure>
                                                        <img src="assets/images/bill.png" alt="EV">
                                                        <figcaption>MY Bill</figcaption>
                                                    </figure>
                                                    </th>
                                                    <td>
                                                        <input type="number"placeholder="Enter value">
                                                    </td>
                                                    <td>
                                                        <select name="kwh">
                                                            <option value="kwh">kwh</option>
                                                            <option value=""></option>
                                                            <option value=""></option>
                                                            <option value=""></option>
                                                          </select>
                                                    </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#">Click Here to see the calculation </a><br>
                                    <!-- <h6 style="text-align:center ;margin-top: 10px;">Calculate Reset</h6> -->
                                    <div class="buttons" style="display: inline-block;text-align: center;">
                                    <button style="margin: 5px;" class="btn btn-primary" (click)='toggleShowTable()'>Calculate</button>
                                    <button style="margin: 5px;" class="btn btn-primary">Reset</button>
                                  </div>
                                    <table *ngIf='showTable' class="table table-bordered">
                                        <thead style="background-color: #4169e1;">
                                          <tr>
                                            <th scope="col">S No.</th>
                                            <th scope="col">No.of power Bank Required</th>
                                            <th scope="col">Quantity(kw)</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr style="background-color: #96a7da;">
                                            <th style="text-align: center" scope="row">1</th>
                                            <td style="text-align: center">1</td>
                                            <td style="text-align: center">20</td>
                                          </tr>
                                          <tr style="background-color: #d9d6e7;">
                                            <th style="text-align: center" scope="row">2</th>
                                            <td style="text-align: center">1</td>
                                            <td style="text-align: center">10</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                            </div>
                            <hr>
                            <h5 style="text-align:center ;font-weight: bold;"> MY UTILITY BILL</h5>
                            <div class="row box2-sub-box2">
<div class="d-flex">
  <div class="graph">
<h5 style="background-color: #4169e1;text-align:center ;">Consumption Graph</h5>
<img src="assets/images/consumption graph.png">
  </div>
  <div class="bill-box">
    <div class="grid">
      <div class="col">
        <div class="row">
          <img src="assets/images/outstanding bill.png">
          <p>outstanding bill $185</p>
        </div>
        <div class="row">
          <img src="assets/images/pay.png">
          <div class="inputs">
          <input type="radio" id="card" name="payment" value="card">
  <label for="card">Pay through card</label><br>
<input type="radio" id="power-bank" name="payment" value="power-bank">
  <label for="power-bank">Pay via Power bank</label><br>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
                            </div>
                            </div>
                            </div>
            </div>
            <div class="col box3">
              <hr>
                <div class="grid">
                    <div class="col">
                        <h5 style="text-align: center;font-weight: bold;">My GENERATION CAPACITY</h5>
                        <div class="row box3-sub-box1">
                          <div class="d-flex">
                            <div class="row" style="height: fit-content;">
                              <div class="col">
                           <div class="small-box">
                           <img src="assets/images/earned.png">
                           <p>Total Earned through Selling</p>
                           <p>$1,200</p>
                           <a href="#">View all your selling's</a>
                          </div>
                        </div>
                        <div class="col">
                          <table class="table table-borderless">
                              <tr>
                                <th scope="row">Installed Capacity</th>
                                <td style="font-weight: bold;">5kw</td>
                              </tr>
                              <tr>
                                <th scope="row">Stored Capacity</th>
                                <td style="font-weight: bold;">2kw</td>
                              </tr>
                          </table>
                        </div>
                        <div class="col" style="position: relative;">
                          <img style="width: 40%;height:60%;" src="assets/images/battery.png "alt="battery">
                          <h5 style="top:25%;left:23%;" class="centered">Create PB</h5>
                          </div>
                        </div>
                        </div>
                        </div>
                        <a href="#">Click Here for Past Contract details</a>
                        <hr>
                        <h5 style="text-align: center;font-weight: bold;">My EV</h5>
                        <div class="row box3-sub-box2">
                          <div class="d-flex">
                          <div class="bill-box">
                            <div class="grid">
                              <div class="col">
                                <div class="row">
                                  <img src="assets/images/outstanding bill.png">
                                  <p>outstanding bill $185</p>
                                </div>
                                <div class="row">
                                  <img src="assets/images/pay.png">
                                  <div class="inputs">
                                  <input type="radio" id="card" name="payment" value="card">
                          <label for="card">Pay through card</label><br>
                        <input type="radio" id="power-bank" name="payment" value="power-bank">
                          <label for="power-bank">Pay via Power bank</label><br>
                                </div>
                              </div>
                              </div>
                            </div>
                          </div>
                          <figure>
                            <img src="assets/images/EV.png">
                            <figcaption><strong>2kw</strong> EV Capacity</figcaption>
                          </figure>
                          <table class="table table-bordered">
                            <thead style="background-color: #4169e1;">
                              <tr>
                                <th scope="col">Total Consumed</th>
                                <th scope="col">Passed to Grid<img src="assets/images/electric tower.png"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr style="background-color: #d9d6e7;">
                                <th style="text-align: center" scope="row">10kw</th>
                                <td style="text-align: center">4kw</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        </div>
                        <a href="#">Click Here for Past Contract details </a>
                        <hr>
                        <div class="row box3-sub-box3">
                           <div style="margin: 10px; width: 100%;" class="buttons">
                            <button style="width: 100%;margin: 5px" class="btn btn-primary" type="button">Market</button>
                            <div style="width: 100%;margin: 5px;" class="btn-grp">
                                <button style="width: 45%;margin: 2.5%;" type="button" class="btn btn-success">BUY</button>
                                <button style="width: 45%;margin: 2.5%;" class="btn btn-warning" type="button">SELL</button>
                            </div>
                           </div>
                        </div>
                    </div>
                </div>
    </div>
        </div>
    </div>
</div>