<div class="container">
  <div class="grid box">
    <div class="row">
      <div class="col box1">
        <h5 style="text-align: center;font-weight: bold;">My POWER BANKS</h5>
        <div class="grid ">
          <div class="col ">
            <div class="row box1-sub-box1">
              <div class="box1-flex">
                <figure style="position: relative;">
                  <img class="battery" src="assets/images/battery.png " alt="battery">
                  <strong style="font-size: 10px;" class="centered">4 PB's 40 kw quantity</strong>
                  <figcaption style="font-size: small;">My PB Wallet</figcaption>
                </figure>
                <table class="table power-bank-table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Cost</th>
                      <th scope="col">Qty</th>
                      <th scope="col">Validity</th>
                      <th scope="col">EndDate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1<img class="small-battery" style="transform: rotate(90deg);"
                          src="assets/images/battery.png" alt="battery"></th>
                      <td>1$</td>
                      <td>10kw</td>
                      <td>30days</td>
                      <td>4th Aug 2022</td>
                    </tr>
                    <tr>
                      <th scope="row">2<img class="small-battery" style="transform: rotate(90deg);"
                          src="assets/images/battery.png " alt="battery"></th>
                      <td>1$</td>
                      <td>10kw</td>
                      <td>30days</td>
                      <td>4th Aug 2022</td>
                    </tr>
                    <tr>
                      <th scope="row">3<img class="small-battery" style="transform: rotate(90deg);"
                          src="assets/images/battery.png " alt="battery"></th>
                      <td>1$</td>
                      <td>10kw</td>
                      <td>30days</td>
                      <td>4th Aug 2022</td>
                    </tr>
                    <tr>
                      <th scope="row">4<img class="small-battery" style="transform: rotate(90deg);"
                          src="assets/images/battery.png " alt="battery"></th>
                      <td>1$</td>
                      <td>10kw</td>
                      <td>30days</td>
                      <td>4th Aug 2022</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a href="#">Click Here for Purchased details</a>
            </div>
            <hr>
            <h5 style="text-align:center ;font-weight: bold;">MY USAGE LOGBOOK</h5>
            <div class="row box1-sub-box2">
              <table class="log-book">
                <tr style="background-color: black;color:#fff;">
                  <th scope="col">S No.</th>
                  <th scope="col">Transaction Type</th>
                  <th scope="col">Qty(MW)</th>
                  <th scope="col">Application</th>
                  <th scope="col">Date</th>
                  <th scope="col">Transaction ID</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Used</td>
                  <td>0.02</td>
                  <td>EV</td>
                  <td>12th Jan 2022</td>
                  <td>1001</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Used</td>
                  <td>0.02</td>
                  <td>EV</td>
                  <td>12th Jan 2022</td>
                  <td>1001</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Used</td>
                  <td>0.02</td>
                  <td>EV</td>
                  <td>12th Jan 2022</td>
                  <td>1001</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Used</td>
                  <td>0.02</td>
                  <td>EV</td>
                  <td>12th Jan 2022</td>
                  <td>1001</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Used</td>
                  <td>0.02</td>
                  <td>EV</td>
                  <td>12th Jan 2022</td>
                  <td>1001</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Used</td>
                  <td>0.02</td>
                  <td>EV</td>
                  <td>12th Jan 2022</td>
                  <td>1001</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Used</td>
                  <td>0.02</td>
                  <td>EV</td>
                  <td>12th Jan 2022</td>
                  <td>1001</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Used</td>
                  <td>0.02</td>
                  <td>EV</td>
                  <td>12th Jan 2022</td>
                  <td>1001</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Used</td>
                  <td>0.02</td>
                  <td>EV</td>
                  <td>12th Jan 2022</td>
                  <td>1001</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Used</td>
                  <td>0.02</td>
                  <td>EV</td>
                  <td>12th Jan 2022</td>
                  <td>1001</td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col box2">
        <div class="grid ">
          <div class="col ">
            <h5 style="text-align: center;font-weight: bold;">KNOW MY REQUIREMENT</h5>
            <div class="row box2-sub-box1">
              <i style="font-size: 12px;">Analyze your require by filling betails below</i>
              <div class="grid">
                <div class="col">
                  <table style="border: none;text-align: center;">
                    <!-- <tbody> -->
                    <tr>
                      <th>
                        <figure>
                          <img src="assets/images/EV.png" alt="EV" style="width: 100%;">
                          <figcaption style="font-size: 12px;">MY EV</figcaption>
                        </figure>
                      </th>
                      <td class="required">
                        <input type="number" [(ngModel)]="evValue" placeholder="Enter value....100" style="height:10%">
                      </td>
                      <td>
                        <select name="Miles" (input)="chooseUnit($event)" style="font-size: 13px;padding:2px">
                          <option value="Miles">Miles</option>
                          <option value="kms">kms</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><i style="font-size: 12px;color: grey;text-align: center;">or/Both</i></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th>
                        <figure>
                          <img src="assets/images/bill.png" alt="My bill">
                          <figcaption style="font-size: 12px;">MY Bill</figcaption>
                        </figure>
                      </th>
                      <td class="required-ev">
                        <input type="number" placeholder="Enter value" [(ngModel)]="billValue" style="height:10%">
                      </td>
                      <td>
                        <select name="kwh" style="font-size: 13px;padding:2px">
                          <option value="kwh">kwh</option>
                        </select>
                      </td>
                    </tr>
                    <!-- </tbody> -->
                  </table>
                  <a href="#">Click Here to see the calculation </a><br>
                  <!-- <h6 style="text-align:center ;margin-top: 10px;">Calculate Reset</h6> -->
                  <div class="buttons" style="display: inline-block;margin: 10px;">
                    <button style="margin: 5px;background-color: #3d5fc6;color: #fff;font-size: 13px;" class="btn"
                      (click)='toggleShowTable()' (click)="calculateRequirement()">Calculate</button>
                    <button style="margin: 5px;background-color: #3d5fc6;color: #fff;font-size: 13px;"
                      class="btn">Reset</button>
                  </div>
                  <table *ngIf='showTable' class="table table-bordered">
                    <thead style="background-color: #3d5fc6;">
                      <tr>
                        <th scope="col" style="color: #fff;">Quantity Required(Power Banks)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="background-color: #96a7da;">
                        <th style="text-align: center" scope="row">{{finalValue}}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <hr>
            <h5 style="text-align:center ;font-weight: bold;"> MY UTILITY BILL</h5>
            <div class="row box2-sub-box2">
              <div class="grid">
                <div class="col">
                  <div class="row">
                    <div class="graph">
                      <h5
                        style="background-color: #3d5fc6;text-align:center ;padding: 5px;color: #fff;border-radius: 5px;font-weight: normal;">
                        Consumption Graph</h5>
                      <img src="assets/images/consumption graph.png">
                    </div>
                  </div>
                  <div class="row">
                    <div class="bill-box">
                      <div class="grid">
                        <div class="row">
                          <div class="col">
                            <img src="assets/images/outstanding bill.png" style="width: 20%;">
                            <p>outstanding bill $185</p>
                          </div>
                          <div class="col">
                            <img src="assets/images/pay.png" style="width: 30%;">
                            <div class="inputs">
                              <input type="radio" id="card" name="payment" value="card">
                                <label for="card">Pay through card</label><br>
                              <input type="radio" id="power-bank" name="payment" value="power-bank">
                                <label for="power-bank">Pay via Power bank</label><br>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <hr> -->
            <!-- <h5 style="text-align: center;font-weight: bold;margin: 20px;">My GENERATION CAPACITY</h5>
                            <div class="row box2-sub-box3">
                              <div class="d-flex">
                                <div class="row" style="height: fit-content;">
                                  <div class="col">
                               <div class="small-box">
                               <img src="assets/images/earned.png">
                               <p>Total Earned through Selling</p>
                               <p>$1,200</p>
                               <a href="#">View all your selling's</a>
                              </div>
                            </div>
                            <div class="col">
                              <table class="table table-borderless">
                                  <tr>
                                    <th scope="row">Installed Capacity</th>
                                    <td style="font-weight: bold;">5kw</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Stored Capacity</th>
                                    <td style="font-weight: bold;">2kw</td>
                                  </tr>
                              </table>
                            </div>
                            <div class="col" style="position: relative;">
                              <img style="width: 80%;height:60%;" src="assets/images/battery.png "alt="battery">
                              <strong style="top:30%;left:40%;font-size: 10px;" class="centered">Create PB</strong>
                              </div>
                            </div>
                            </div>
                            </div>
                            <a href="#">Click Here for Past Contract details</a> -->
          </div>
        </div>
      </div>
      <div class="col box3">
        <!-- <hr> -->
        <div class="grid">
          <div class="col" style="position: absolute;">
            <h5 style="text-align: center;font-weight: bold;margin-bottom: 10px;">My GENERATION CAPACITY</h5>
            <div class="row box3-sub-box1">
           
              <div class="d-flex" >
                <!-- <div class="row">
                            <div class="col"> -->
                              <div  style="position: relative;">
                                <img style="width:100px;" src="assets/images/battery.png "alt="battery">
                                <strong class="centered-pb">Create PB</strong>
                                </div>
                <div class="small-box">
                  <img src="assets/images/earned.png">
                  <p style="font-size: 12px;">Total Earned through Selling</p>
                  <p style="font-size: 12px;">$1,200</p>
                  <a href="#">View all your selling's</a>
                </div>
                <!-- </div>
                      <div class="col"> -->
                <table class="table table-borderless" style="font-size: 12px;margin:0;height:fit-content;">
                  <tr>
                    <th scope="row">Installed Capacity</th>
                    <td style="font-weight: bold;">5kw</td>
                  </tr>
                  <tr>
                    <th scope="row">Stored Capacity</th>
                    <td style="font-weight: bold;">2kw</td>
                  </tr>
                </table>
                <!-- </div> -->
             
                <!-- </div> -->
              </div>
           
              <a href="#">Click Here for Past Contract details</a>
            </div>

            <hr>
            <h5 style="text-align: center;font-weight: bold;">My EV</h5>
            <div class="row box3-sub-box2">
              <div class="grid">
                <div class="row">
                  <div class="col" style="display: flex;">
                    <div class="bill-box">
                      <div class="grid">
                        <div class="row">
                          <div class="col">
                            <img src="assets/images/outstanding bill.png" style="width: 20%;">
                            <p>outstanding bill $185</p>
                          </div>
                          <div class="col">
                            <img src="assets/images/pay.png" style="width: 30%;">
                            <div class="inputs">
                              <input type="radio" id="card" name="payment" value="card">
                                <label for="card">Pay through card</label><br>
                              <input type="radio" id="power-bank" name="payment" value="power-bank">
                                <label for="power-bank">Pay via Power bank</label><br>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <figure>
                      <img src="assets/images/EV.png">
                      <figcaption style="font-size: 13px;text-align: center;"><strong>2kw</strong> <br>EV Capacity
                      </figcaption>
                    </figure>
                  </div>
                  <div class="col">
                    <!-- <figure>
                            <img src="assets/images/EV.png">
                            <figcaption><strong>2kw</strong> <br>EV Capacity</figcaption>
                          </figure> -->
                    <table class="table table-bordered" style="width: fit-content;height:fit-content">
                      <thead>
                        <tr style="background-color: #4169e1;">
                          <th scope="col" style="color: #fff;font-size: 12px;"><span style="color: #fff;">Total
                              Consumed</span><br><img style="width:40%;margin: 5px;"
                              src="assets/images/total consumed.png"></th>
                          <th scope="col"><span style="color: #fff;font-size: 12px;">Passed to Grid</span><br><img
                              style="width:30%;margin: 5px;" src="assets/images/electric tower.png"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="background-color: #d9d6e7;">
                          <td style="text-align: center" scope="row">10kw</td>
                          <td style="text-align: center">4kw</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- <div class="col">
                          <table class="table table-bordered">
                            <thead style="background-color: #4169e1;">
                              <tr>
                                <th scope="col" style="color: #fff;"><span  style="color: #fff;">Total Consumed</span><br><img style="width:40%;margin: 5px;" src="assets/images/total consumed.png"></th>
                                <th scope="col"><span  style="color: #fff;">Passed to Grid</span><br><img style="width:40%;margin: 5px;" src="assets/images/electric tower.png"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr style="background-color: #d9d6e7;">
                                <th style="text-align: center" scope="row">10kw</th>
                                <td style="text-align: center">4kw</td>
                              </tr>
                            </tbody>
                          </table>
                        </div> -->
                </div>
              </div>
            </div>
            <a href="#">Click Here for Past Contract details </a>
            <hr>
            <div class="row box3-sub-box3">
              <div style=" width: 100%;" class="buttons">
                <button style="width: 100%;margin: 5px;background-color: #3d5fc6;color: #fff;" class="btn"
                  type="button">Market</button>
                <div style="width: 100%;margin: 5px;" class="btn-grp">
                  <button style="width: 45%;margin: 2.5%;background-color: orange;color: #fff;" type="button"
                    class="btn" data-toggle="modal" data-target="#exampleModal">BUY</button>
                  <app-buy></app-buy>
                  <button style="width: 45%;margin: 2.5%;" class="btn btn-success" type="button" data-toggle="modal"
                    data-target="#ModalSell">SELL</button>
                  <app-sell></app-sell>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>