<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="headings">
        <h2>WELCOME..!!!​</h2>
        <h2>ONE-STOP SOLUTION DRIVING SUSTAINABILITY ACROSS UTILITY CONSUMERS</h2>
    </div>
    <div class="grid">
        <div class="row">
            <div class="col">
                <div class="sub-headings">
             <h2>UTILITIES/ RETAILERS</h2>
             <i class="fa fa-ellipsis-v" style="font-size:48px;"></i>
            </div>
            <div class="circle-container">
                <div class=" row images">
                <img  src="assets\images\voltage.png">
                <img  src="assets\images\electric tower.png">
            </div>
            </div>
            </div>
            <div class="col">
                <div class="sub-headings">
                <h2>END CONSUMER</h2>
                <i class="fa fa-ellipsis-v" style="font-size:48px;"></i>
                </div>
                <div class="circle-container">
                    <div class=" row images">
                    <img  src="assets\images\house.png">
                    <img  src="assets\images\EV.png">
                    <img  src="assets\images\person.png">
                </div>
                </div>
            </div>
            <div class="col">
                <div class="sub-headings">
                <h2>RENEWABLE GENERATORS</h2>
                <i class="fa fa-ellipsis-v" style="font-size:48px;"></i>
                </div>
                <div class="circle-container">
                    <div class=" row images3">
                    <img  src="assets\images\solar pannel.png">
                    <img  src="assets\images\windmill.png">
                    <img  src="assets\images\Biogas.png">
                    <img  src="assets\images\Picture15.png">
                    <img  src="assets\images\power generating station.png">
                </div>
                </div>
            </div>
            <div class="col">
                <div class="sub-headings">
                <h2>EV RETAILER</h2>
                <i class="fa fa-ellipsis-v" style="font-size:48px;"></i>
                </div>
                <div class="circle-container">
                    <div class=" row images3">
                    <img  src="assets\images\power station.png">
                    <img  src="assets\images\EV.png">
                    <img  src="assets\images\Picture18.png"> 
                </div>
                </div>
          </div>
    </div>
</div>